@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Source+Sans+Pro&display=swap');

.wrapper {
    margin: 0 auto;
    background-color: rgba(104, 133, 163, 0.479);
    width: 1440px;
    min-height: 1000px;
}

.container {
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 10px;
    border-spacing: 0px;
}

th,
td {
    padding: 10px;
}

thead>tr:first-child {
    background-color: lightgrey;
}

th:nth-child(1) {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

tr:last-child>td:nth-child(1) {
    border-bottom-left-radius: 8px;
}

tr:last-child>td:last-child {
    border-bottom-right-radius: 8px;
}

tr {
    border: 1px solid #000;
    background-color: aliceblue;
}

tr:nth-of-type(odd) {
    background-color: #fff;
}
.btn {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.btn.del {
    background-color: rgb(255, 123, 0);
    color: #fff;
}
.btn.add {
    background-color: rgba(80, 80, 194, 0.884);
    color: #fff;
    margin: 10px;
    margin-left: 92%;
}
.inputTd {
    position: relative;
    height: 30px;
}
.inputField {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    height: 30px;
    box-sizing: border-box;
    width: 90%;
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.redBorder {
    border: 1px solid red;
    border-radius: 4px;
}
.redBorder:focus {
    outline-color: red;
}